body{
    background: rgba(6, 37, 131, 0.911);
}

h1{
    color: red;
}

nav{
    display: inline;
}

nav:link{
    color: white;
    text-decoration: none;
}

nav:hover{
    color: yellow;
    font-size: large;
}

nav:active{
    color: red;
}

.navButton{
    padding: 5px, 20px;
    margin: 5px;
    color: white;
    text-align: center;
    display: inline-block;
    background-color: black;
    list-style: none;
    width: 70px;
    height: 15px;
}

ul{
    font-family: fantasy;
}

.picFloat{
    width: 100px;
    height: 140px;
    float: right;
    position: relative;
    right: 40px;
}

.picTopRight{
    position: relative;
    right: 10px;
    float: right;
}

.container{
    padding: 10px;
    border: dotted orangered 10px;
    margin: 10px;
    width: 290px;
    height: 100px;
}

table,
td {
    border: 1px solid #333;
    width: 450px;
}

thead, tr, tfoot {
    color: #fff;
    text-align: center;
}

tr:nth-child(odd){
    background-color: purple;
}

tr:nth-child(even){
    background-color: rgb(3, 31, 17);
}

thead{
    background-color: grey;
    font-style: oblique;
}

.green{
    color: seagreen;
}

.textCenter{
    text-align: center;
}

footer{
    font-style: italic;
}